#app {
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebarColumn {
  // background-color: #f7fcf8;
  background: #f1faf1;
  width: 9% !important;
  height: 500px;
  text-align: center;
  padding: 0;
  margin-left: 1rem;
}

.outside {
  position: relative;
}

.navigation {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    margin: .8rem auto .5rem;
    width: 55%;
    height: 3.5rem;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 100%;
      bottom: 0;
      background: #2e963d;
      height: 3px;
      transition-property: right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover {
      cursor: pointer;
      &::after {
        right: 0;
      }
    }
    a {
      display: block;
      width: 100%;
      color: grey !important;
      span {
        display: block;
        margin-top: .3rem;
      }
    }
  }
}

.selected {
  i.grey.large.icon {
    color: #2e963d !important;
  }
  span {
    color: #2e963d;
  }
}

#logIn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: .1rem;
}

.petalControl {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  .windowMinimize {
    margin-bottom: 10px;
  }
}