#app {
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebarColumn {
  background: #f1faf1;
  width: 9% !important;
  height: 500px;
  text-align: center;
  padding: 0;
  margin-left: 1rem;
}

.outside {
  position: relative;
}

.petalControl {
  position: absolute;
  right: .8rem;
  top: 1.2rem;

  div {
    cursor: pointer;
    display: inline-block;
    margin-right: .4rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
  }

  .miniButton {
    background-color: #fbbd08;
  }

  .quitButton {
    background-color: #f44336;
  }
}

.petalSetting {
  position: absolute;
  right: .8rem;
  bottom: 1.2rem;
}