body {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}
