.petal-about {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .content {
    margin-top: 2rem;
    padding-left: 10px;
  }

  span {
    color: $petal-green;
    cursor: pointer;
  }
}

.petal-about::-webkit-scrollbar {
  display: none;
}
