@import './common';

.petal-container {
  display: flex;
}

.petal-sidebar-container {
  flex: none;
  width: 40px;
}

.petal-routes-container {
  flex: 1;

  .titlebar {
    position: relative;
    height: 24px;
    -webkit-app-region: drag;
  }

  .more-options {
    position: absolute;
    right: 0;
    cursor: pointer;

    .checkupdate {
      position: relative;
      top: 0;
      right: 2px;
      -webkit-app-region: no-drag;
    }
  }
}
