.petal-login {
  margin-top: 6rem;

  .login-header {
    padding-right: 12px;

    span {
      position: relative;
      top: 5px;
      left: 5px;
    }
  }

  .login-form {
    padding: 0 10px;
  }

  .login-extra {
    color: $petal-black;
    text-align: center;
    margin-top: 1rem;
    span {
      color: $petal-green;
      cursor: pointer;
    }
  }
}
