.petal-pattern {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .ui.button {
    margin-bottom: 5px;

    img {
      width: 14px !important;
      height: 14px !important;
    }

    &:hover {
      color: $petal-green !important;
    }
  }

  .ui.button.selected {
    color: $petal-green !important;
  }
}

.petal-pattern::-webkit-scrollbar {
  display: none;
}
