.petal-personal {
  padding: 5px 10px;
  height: calc(100% - 24px);
  overflow-y: scroll;

  .ui.unstackable.items > .item > .image.avatar-icon {
    width: 100px !important;
    height: 100px !important;

    > img {
      width: 100px !important;
      height: 100px !important;
    }

    @media screen and (min-width: 380px) and (max-width: 430px) {
      width: 125px !important;
      height: 125px !important;

      > img {
        width: 125px !important;
        height: 125px !important;
      }
    }
  }

  .operations {
    margin-top: 3rem;
    margin-bottom: 1rem;

    .ui.button {
      &:hover {
        color: $petal-green !important;
      }
    }
  }

  .pro-badget {
    margin: 0 0.5rem;
    padding: 0 0.3rem;
    font-size: 12px;
    border: 1px solid rgb(211, 187, 129);
    border-radius: 0.2rem;
    color: #977e42;
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
  }
}

.petal-personal-downloads,
.petal-personal-shares {
  .close-page {
    position: absolute;
    top: 32px;
    right: 25px;
    cursor: pointer;

    &:hover {
      color: $petal-green;
    }
  }

  .ui.tiny.basic.icon.button {
    &:hover {
      color: $petal-green !important;
    }
  }
}

.petal-personal-shares {
  .ui.tiny.image.album-picture {
    width: 80px !important;
    height: 80px !important;
  }

  .ui.items > .item > .content > .description {
    word-wrap: break-word;
  }
}

.petal-personal-songlist {
  position: relative;
  padding: 5px 10px;
  height: calc(100% - 24px);
  overflow-y: scroll;

  .refresh-button {
    position: absolute;
    top: 8px;
    right: 15px;

    &:hover {
      color: $petal-green !important;
    }
  }

  .ui.unstackable.items {
    .item {
      .ui.tiny.image {
        width: 80px !important;
        height: 80px !important;

        img {
          width: 80px !important;
          height: 80px !important;
        }
      }

      .extra {
        .ui.mini.basic.icon.button:hover {
          color: $petal-green !important;
        }
      }
    }
  }
}

.petal-personal::-webkit-scrollbar,
.petal-personal-songlist::-webkit-scrollbar,
.petal-personal-downloads::-webkit-scrollbar,
.petal-personal-shares::-webkit-scrollbar {
  display: none;
}
