.petal-sheet {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .daily-play {
    position: absolute;
    top: 32px;
    right: 25px;
    cursor: pointer;

    &:hover {
      color: $petal-green;
    }
  }

  .ui.items:not(.unstackable) > .item > .image.daily-cover {
    max-height: none !important;

    > img {
      max-height: none !important;
    }
  }
}

.petal-sheet::-webkit-scrollbar {
  display: none;
}
