.petal-sheet {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .daily-image {
    img {
      width: 250px !important;
      height: 250px !important;
    }

    a.ui.right.corner.label {
      i {
        cursor: pointer;
      }

      &:hover {
        color: $petal-green;
      }
    }
  }
}

.petal-sheet::-webkit-scrollbar {
  display: none;
}
