.petal-sidebar {
  .active {
    border-color: $petal-green !important;
    i.grey.large.icon {
      color: $petal-green !important;
    }
  }
  a.item {
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
  }
  #auth {
    position: absolute;
    bottom: 0;
  }
}
