@import '../common';

// Collapse overflow text with dots(...). Use with the title of the song and the name of the artists
.dothidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearbottomrounded {
  // The cover and the progress bar together makes up a rounded square
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.clearbottomrounded > * {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.petal-cover {
  user-select: none;
  display: flex;
  flex-direction: column;
  // semantic-ui does not have visibility transition for dimmer. add our own.
  // unstable due to chromium rendering. disable for now
  /*
  .ui.dimmer {
    display: flex;
    transition: opacity .2s linear;
  }
  .ui.dimmer.visible {
    opacity: 100%;
  }
  */
  .ui.segment.info .content {
    // Only with max-width, .dothidden will behave as expected
    max-width: 80%;
  }

  .ui.segment.info.basic {
    padding: 0;
  }

  > div > img {
    object-fit: contain;
    max-height: calc(100vh - 80px);
  }

  .cover {
    img {
      min-height: 250px;
    }
  }

  .play-pause {
    @include VHCenter();
    width: 5rem;
    height: 5rem;
    border: 3px solid $petal-green;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;

    i {
      margin-left: 0.3rem;
    }
  }

  .heart-trash-forward {
    margin-top: 2rem;

    i {
      margin: 0 0.9rem;
      cursor: pointer;
    }
  }
}
