@import '../common';

.petal-cover {
  user-select: none;
  display:flex;
  flex-direction: column;
  .cover img {
    width: 100%;
  }
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;

    .title {
      max-width: 200px;
      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .artist {
      img {
        height: 35px !important;
      }
    }
  }

  .cover {
    img {
      /*
      width: 250px !important;
      height: 250px !important;
      */
    }
  }

  .play-pause {
    @include VHCenter();
    width: 5rem;
    height: 5rem;
    border: 3px solid $petal-green;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;

    i {
      margin-left: 0.3rem;
    }
  }

  .heart-trash-forward {
    margin-top: 2rem;

    i {
      margin: 0 0.9rem;
      cursor: pointer;
    }
  }
}
