@import '../common';

.fm-region {
  /*
  @include VHCenter();
  flex-direction: column;
  */
  padding: 0px 10px;
  width: 90vw;
  >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.fm-dimmer {
  background: transparent !important;
}
