@import '../common';

.petal-player {
  margin-top: 1rem;

  .ui.progress {
    margin-bottom: 1em;

    .bar {
      background: $petal-green;
      min-width: 0px !important;
    }
  }
}

.petal-player .player-bar {
  display: flex;

  .player-time {
    color: $petal-grey;
    user-select: none;
  }

  .player-volume {
    display: flex;
    position: relative;
    padding-left: 1rem;

    i.volume.up.icon {
      margin: 0 0 0 0.25rem;
    }

    .volume-bar {
      position: relative;
      top: 8px;
      right: 1px;
      width: 138px;
      height: 2px;
      background: $petal-grey;
      cursor: pointer;

      .progress {
        position: absolute;
        height: 2px;
        background: $petal-green;
      }

      .pin {
        display: block;
        position: relative;
        z-index: 2;
        cursor: pointer;
        width: 8px;
        height: 8px;
        background-color: $petal-green;
        border-radius: 50%;
        bottom: 3px;
        &:active {
          transform: scale(1.2);
        }
      }
    }
  }
}
