.logoPlaceholder {
    display: table;
    margin: 1.5rem auto 2rem;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}
header.loginHeader {
    padding: 1.8rem 0 1rem !important;
    border-bottom: 2px solid #565656 !important;
}
.formContent {
    margin: 0rem auto;
    width: 380px !important;
}
.submitBtn {
    margin-bottom: 1.5rem !important;
    border-radius: 1.2rem !important;
}
.panelTail {
    color: #2e2f33;
    text-align: center;
    font-size: 1rem;
    a {
        color:#2ebd59;
        &:hover {
            text-decoration: underline;
        }
    }
}