@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.loginRegion {
  margin-top: 6rem;
}

.ui.header.loginHeader {
  margin-bottom: 2rem;
}

.appTitle {
  position: relative;
  top: .6rem;
  left: 1rem;
  font: 2.4rem 'Dancing Script', cursive;
  -webkit-app-region: no-drag;
}

.loginFormContent {
  margin: 0rem auto;
  width: 380px !important;
}

.ui.button.loginSubmitBtn {
  margin-bottom: 1.5rem;
  border-radius: 1.2rem;
}

.loginExtra {
  color: #2e2f33;
  text-align: center;
  margin-bottom: 2rem;
  span {
      color:#2ebd59;
      cursor: pointer;
  }
}