@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.comingSoon {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-family: 'Dancing Script', cursive;
	}
}