@import './common';

.petal-container {
  display: flex;
}

.petal-sidebar-container {
  flex: none;
  width: 40px;
}

.petal-routes-container {
  flex: 1;

  .titlebar {
    position: relative;
    height: 24px;
    -webkit-app-region: drag;
  }

  .more-options {
    position: absolute;
    top: 3px;
    right: -2px;
    cursor: pointer;

    i {
      font-size: 1.2em;
    }

    .checkupdate {
      position: relative;
      top: -3px;
    }
  }
}
