.petal-loading-container {
  -webkit-app-region: drag;
  >div {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.petal-loading-logo-wrapper {
  animation: bounce 1s linear infinite;
}

.petal-loading-logo {
  width: 180px;
  height: 180px;
  animation: gogo 5s linear infinite;
}

.petal-loading-text {
  path {
    stroke-width: 10;
    fill: none;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation-name: draw;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@keyframes gogo {
  0% {
    transform: rotate(0deg);
    opacity: .6;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: .6;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

@keyframes draw {
  from {
    stroke: transparent;
  }
  to {
    stroke: seagreen;
    stroke-width: 1;
    fill: seagreen;
    stroke-dashoffset: 0;
  }
}
