.petal-personal {
  padding: 5px 10px;

  .ui.tiny.image.avatar-icon {
    width: 100px !important;
    height: 100px !important; 
  }
}

.petal-personal-songlist {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .ui.unstackable.items {
    .item {
      .ui.tiny.image {
        width: 80px !important;
        height: 80px !important;

        img {
          width: 80px !important;
          height: 80px !important;
        }
      }
    }
  }
}

.petal-personal-songlist::-webkit-scrollbar {
  display: none;
}
