@import './common';

.petal-setting {
  padding: 0 10px;

  .ui.segment.active.tab {
    height: 412px;
  }
}

.petal-setting-main {
  .save {
    margin-top: 1rem;
  }
}

.petal-setting-about {
  .content {
    margin-top: 1rem;
  }

  span {
    color: $petal-green;
    cursor: pointer;
  }
}
