.petal-setting {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;
}

.petal-setting::-webkit-scrollbar {
  display: none;
}

.petal-setting-main {
  .save {
    margin-top: 1rem;
  }
}
