@import './common';

.petal-sheet {
  padding: 5px 10px;
  height: calc(100vh - 24px);
  overflow-y: scroll;

  .daily-image > img {
    width: 250px !important;
    height: 250px !important;
  }
}

.petal-sheet::-webkit-scrollbar {
  display: none;
}
