.personal {
  position: relative;
  top: 1rem;
  height: 440px;

  .songlist {
    overflow-y: scroll;
    height: 420px;
  }
}

.songlistItem {
  position: relative;

  .itemControl {
    position: absolute;
    bottom: .4rem;
    right: 1rem;
  }
}